.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*/.DS_Store
**/.DS_Store

# Carpetas específicas para ignorar
A - Papers - 1/
trabajo_1_z_playground/
My presentation - Sunbelt 2025 (Alias)/
B - Presentacion PoliCICS (Alias)/

# Ignorar todas las carpetas con un nombre específico en cualquier lugar del proyecto
#**/nombre_carpeta/